<textarea id="easy_akkredi_email_text" style="width: 100%;" rows="30">
Hallo {name}
Alles klar bei dir?

Gerne möchte ich folgende Events akkreditieren:
{eventdata}

Merci & Lieber Gruss
Dänu

Dänu | Management, Fotografie, Webdesign, Videos
<hr/>
Plekvetica | Swiss Metal Webzine
<a href="https://www.facebook.com/plekvetica">Facebook</a> | <a href="https://www.youtube.com/c/Plekvetica/">Youtube</a> | <a href="https://www.instagram.com/plekvetica/">Instagram</a> | <a href="https://www.plekvetica.ch">www.plekvetica.ch</a>

<b><i style="color:red;">METAL AS FUCK!</i></b>
</textarea>
<br/>
Send Mail to: {name} - {mail}
<br/>
<div style="text-align: right; padding-bottom: 1em;">
    <button id="easy_akkredi_close" class="plek-inline-button" type="close">X</button>
    <button id="easy_akkredi_submit" class="plek-inline-ok-button" data-event="{event}" data-organi="{organi}"  type="submit">OK</button>
</div>
